/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: rgba(0, 0, 40, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --accent-color-line: rgba(255, 0, 112, 1);
  --title-color: rgba(219, 0, 255, 1);
  --title-color-main: rgba(255, 0, 112, 1);
  --text-color: rgba(241, 178, 206, 1);
  --title-decor-add: rgba(0, 0, 40, 1);
  --header-rec: rgba(255, 0, 112, 1);
  --menu-button: rgba(255, 0, 112, 1);
  --link-main: rgba(241, 178, 206, 1);
}
